@page "/fetchdata"
@inject RealEstateService Service
<ul>
    @if (realEstates != null)
    {

        @foreach (var s in realEstates)
        {
            <li>@s.Title</li>
        }

    }
    else
    {
        <li>Loading....</li>
    }

</ul>

        @code {
            RealEstateModel[] realEstates;
            private async Task GetRealEstates()
            {
                realEstates = await Service.GetRealEstateAsync();
            }

        }
