@page "/Users"
@inject UserService Service
@attribute [Authorize]
<h1>RealEstates</h1>

@if (UserArray == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="d-flex flex-wrap" style="justify-content: center;">
            @foreach (var objectData in UserArray)
            {
                <div class="p-2">
                    <button class="card" onclick="location.href='/counter'" style="width:250px; height: 250px; border: 1px solid #21211f;">
                        <div class="card-body text-dark cards">
                            <h4 class="card-title">@objectData.UserName</h4>
                            <p>Adress: @objectData.Email</p>
                        </div>
                    </button>
                </div>
            }
        </div>
    </div>
}
@code {

    private UserModel[] UserArray;

    protected override async Task OnInitializedAsync()
    {
        UserArray = await Service.GetAllUsers();
    }
}