@page "/Users"
@attribute [Authorize] 
@inject UserService Service
@inject HttpClient client
<h1>You can only see this page when Authorized</h1>

@if(@users == null)
{
    <p>loading...</p>
}
else
{
<ul>
    @foreach (var s in @users)
    {
        <li>@s.Email</li>
        <li>@s.UserName</li>
        <li>@s.Id</li>
    }

</ul>
}
@code {
    UserModel [] users;
   // HttpClient service;
    //UserService service = new UserService();

    private async Task GetUsers()
    {
        users = await Service.GetAllUsers();
    }
}
